<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    {{ $css := resources.Get "css/dist/main.scss" | toCSS }}
    {{ $style := $css | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <title>{{ .Site.Title }} - {{ .Title }}</title>
  </head>

  <body>
    <div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
      {{ partial "nav.html" . }}
      <div class="flex flex-col">
        <header>
          <img src="https://gingerdolls.dk/images/header.png" width="100%" />
        </header>

        <a id="top"></a>
        <main
          id="main-content"
          class="flex flex-col flex-grow prose lg:prose-lg max-w-full p-6 lg:px-12 relative"
        >
          {{ block "main" . }} {{ end }}
        </main>

        <footer class="p-6 lg:px-12">
          &copy; {{ now.Format "2006" }}.
          <a class="top" href="#top">Til toppen / To the top</a>
        </footer>
      </div>
    </div>
  </body>
</html>
