@import "tailwind";
@import "nav.scss";

footer {
  @apply text-sm;
}

.in-english {
  @apply absolute top-1 right-6;
}

.grid-shortcode {
  @apply flex flex-wrap gap-3 justify-around;

  & > * {
    @apply block;
    flex-basis: 22%;
    min-width: 250px;
  }
}

.prose hr {
  margin: 0 0 1rem 0 !important;
  @apply border-black;
}

figure img {
  @apply my-0 !important;
}
