@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
    @apply block text-sm px-4 py-2 mt-2 font-semibold text-gray-900 hover:text-gray-900 hover:bg-gray-200 text-left w-full;
}

.nav-subnav {
    @apply relative w-full;
    
    .nav-subnav-items {
        @apply right-0 mt-0 w-full;
     /*   max-height:0;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    */
        .nav-subitem {
            @apply block text-sm px-4 pl-6 py-2 mt-0 font-semibold hover:text-gray-900 hover:bg-gray-300 w-full;
        }
        /*
    }

    input:checked {
        & ~ label {
            @apply bg-gray-200;
        }
 
        & ~.nav-subnav-items {
            @apply bg-gray-200;
            opacity:1;
            max-height:100vh;

            .nav-subitem {
                @apply block;
            }
        }
    */
    }
}

footer {
    @apply text-sm;
}

.in-english {
    @apply absolute top-1 right-6;
}

.grid-shortcode {
    @apply grid auto-cols-fr gap-3 justify-items-center /* divide-x  */;

    & > * {
        @apply block mx-auto justify-self-center;
        & + * {
            @apply pl-3;
         }
    }
    & *:nth-child(2n+1) {
        border-left-width: 0;
        grid-column: 1;
    }

    & *:nth-child(2n+2) {
        grid-column: 2;
    }
    

    @media (min-width: 1024px) {

        & *:nth-child(4n+1) {
            grid-column: 1;
        }

        & *:nth-child(4n+2) {
            grid-column: 2;
        }


        & *:nth-child(4n+3) {
            grid-column: 3;
        }

        & *:nth-child(4n+4) {
            grid-column: 4;
        }

     /*   & *:nth-child(2n+1) {
            border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
        }
        & *:nth-child(4n+1) {
            border-left-width: 0;
        } */
    }
}

.prose hr {
    margin: 0 0  1rem 0 !important;
    @apply border-black;
}

figure img {
    @apply my-0 !important;
}
