@import "tailwind";
@import "nav.scss";

footer {
  @apply text-sm;
}

.in-english {
  @apply absolute top-1 right-6;
}

main {
  figure.single {
    @apply md:flex md:flex-row md:items-center md:gap-3;

    a,
    img {
      flex: 1;
      min-width: 150px;
    }

    figcaption {
      flex: 3;
    }
  }

  & > img,
  & > figure {
    display: block;
    min-width: 250px;
    height: auto;
  }
  img {
    max-height: 50vh;
  }
}

.grid-shortcode {
  @apply flex flex-wrap gap-3 justify-around;

  & > * {
    @apply block;
    flex-basis: 22%;
    min-width: 250px;
  }
}

.prose hr {
  margin: 0 0 1rem 0 !important;
  @apply border-black;
}

figure img {
  @apply my-0 !important;
}
