nav {
  @apply hidden;
}

svg.nav-close {
  @apply hidden;
}

input#nav-toggle {
  @apply hidden;

  &:checked {
    & ~ div label svg.nav-open {
      @apply hidden;
    }

    & ~ div label svg.nav-close {
      @apply block;
    }

    & ~ nav {
      @apply block;
    }
  }
}

.nav-item {
  @apply block text-sm px-4 py-2 mt-2 font-semibold text-gray-900 hover:text-gray-900 hover:bg-gray-200 text-left w-full;
}

.nav-subnav {
  @apply relative w-full;

  .nav-subnav-items {
    @apply right-0 mt-0 w-full;
    /*   max-height:0;
          transition: max-height 1s cubic-bezier(0, 1, 0, 1);
      */
    .nav-subitem {
      @apply block text-sm px-4 pl-6 py-2 mt-0 font-semibold hover:text-gray-900 hover:bg-gray-300 w-full;
    }
    /*
      }
  
      input:checked {
          & ~ label {
              @apply bg-gray-200;
          }
   
          & ~.nav-subnav-items {
              @apply bg-gray-200;
              opacity:1;
              max-height:100vh;
  
              .nav-subitem {
                  @apply block;
              }
          }
      */
  }
}
