<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css" />

    <!-- Fancybox -->
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/fancybox.min.css" />
    <!-- Scrollbars -->
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/perfect-scrollbar.min.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">

    <base href="{{ .Site.BaseURL }}">

     <title> {{.Site.Title }} -  {{ .Title }}</title>
     {{ if eq .Type "guestbook" }}
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
     {{ end }}
</head>

<body>

    <header>
        <img src="http://gingerdolls.dk/images/header.png" width="100%">
    </header>
    {{ partial "nav.html" . }}
    <main id="main-content">
        <a id="top"></a>
