{{ $src := .Get "src" }}
{{ $cloudinaryFn := "" }}
{{ with .Parent }}
    {{ $cloudinaryFn = "/ar_3:4,c_fill,g_auto/w_500" }}
{{ end }}
{{ if not (in (.Get "src") "http") }}
 {{ $src = path.Join .Site.Params.CloudinaryBaseURL $cloudinaryFn "ginger" (.Get "src") }}
{{ end }}

{{ $alt := .Get "alt" }}
{{ if eq $alt "" }}
    {{ $alt = .Get "caption" | markdownify | plainify }}
{{ end }}

{{ $link := .Get "link" }}
{{ if and 
    (ne (substr $link 0 4 ) "http") 
    (or 
        (strings.HasSuffix $link "jpg") 
        (strings.HasSuffix $link "jpeg") 
        (strings.HasSuffix $link "gif") 
        (strings.HasSuffix $link "png")
    )
}}
    {{ $link = path.Join .Site.Params.CloudinaryBaseURL (.Get "src") }}
{{ end }}

<figure {{ with "class" }} class="{{ . }}" {{ end }}>
    {{ if $link }}
        <a href="{{ $link }}">
    {{ end }}  
        <img 
            src="{{ $src }}"
            alt="{{ $alt }}"
            class="mx-auto" />
    {{ if $link }}</a>{{ end }} 
    
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4 class="text-center">{{ .Get "title" }}</h4>{{ end }} {{ if or (.Get "caption") (.Get "attr")}}
        <p class="text-center">
            {{ .Get "caption" | markdownify }} {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
